#toto-list {
    max-width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}

#form {
    text-align: center;
}

#task {
    width: 50%;
}

#tasks li {
    cursor: pointer;
}

#tasks li:hover {
    background-color: rgba(204, 204, 204, 0.25);
}

#tasks li[completed] {
    text-decoration: line-through;
}

#toto-list[filter=in-work] li[completed] {
    display: none;
}

#toto-list[filter=done] li:not([completed]) {
    display: none;
}

#toto-list:not([filter]) button[action=all],
#toto-list[filter=all] button[action=all],
#toto-list[filter=in-work] button[action=in-work],
#toto-list[filter=done] button[action=done] {
    background-color: aqua;
}
